body {
background-color: rgb(90, 94, 94);
}

.header {
background-color: rgb(50, 51, 51);
width: 1450px;
padding-left: 10px;
padding-top: 1px;
height: 90px;
position: absolute;
left: 0px;
top: 0px;
}

#login {
position: relative;
top: -70px;
right: -1110px;
color: black;
font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 600px;
    position: relative;
    top: 10px;
    left: 200px;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }    

  th {
      background-color: rgba(255, 248, 248, 0.438);
      font-size: 21px;

  }
  
  td {
      font-size: 18px;
      background-color: rgb(255, 255, 255);
  }

#th1 {
    background-color: rgba(255, 248, 248, 0.438);
    max-width: 60px;
    text-align: center;
}

#user {
    position: relative;
    top: 685px;
    right: -150px;
    color: black;
    border-radius: 6px;
}

#subject {
    position: relative;
    top: 685px;
    right: -155px;
    color: black;
    border-radius: 6px;
}
    
#signIn {
position: relative;
top: -20px;
right: -955px;
border-radius: 4px;
transition-duration: 0.4s;
cursor: pointer;
padding: 10px;
font-size: 15px;
}


#signIn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#signOut {
position: relative;
top: -20px;
right: -960px;
border-radius: 4px;
transition-duration: 0.4s;
cursor: pointer;
padding: 10px;
font-size: 15px;
}

#signOut:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.chat-window{
    height: 470px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 100%;
    position: fixed;
    bottom: -390px;
    left: 0px;
}

#msg-input{
    padding: 10px;
    border-radius: 20px;
    width: 65%;
    margin-left: 2%;
    position: fixed;
    bottom: 15px;
    left: 450px;
}

#msg-btn{
    width: 9%;
    padding: 9px;
    border-radius: 20px;
    cursor: pointer;
    background-color:  rgb(90, 94, 94);
    font-size: large;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 1%;
    position: relative;
    bottom: -8px;
}

#msg-btn:hover{
    background-color: rgb(0, 0, 0);
}

.msg{
    list-style-type: none;
}